<a href="https://colab.research.google.com/github/nikitamudgal/nikitamudgal/blob/main/Basic01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
nm=input("Enter your name ")
print(f'Welcome {nm} Core python google colab online ')

Enter your name Nikita
Welcome Nikita Core python google colab online

**accept a number and display its** **square**

In [6]:
n=int(input('Enter a number '))
sq=n*n
print(f'square of {n} is {sq}')

Enter a number 3
square of 3 is 9

**Accept number and make addition**

In [8]:
a=int(input('Enter first number'))
b=int(input('Enter second number'))
add=a+b
print(f'The sum of number is {add}')

Enter first number10
Enter second number10
The sum of number is 20

**accept 2 float numbers and display their sum**

In [9]:
a=float(input('Enter first number '))
b=float(input('Enter second number '))
c=a+b
print(f'sum of {a} and {b} is {c}')

Enter first number 12.50
Enter second number 12.3
sum of 12.5 and 12.3 is 24.8

**accept purchase amount and display the discount**

In [11]:
amount=float(input('Enter purchase amount '))
discount=amount*10/100
print(f'discount on amount {amount} is {discount}')

Enter purchase amount 2003
discount on amount 2003.0 is 200.3

**display electricity bill on the basic of units consumed**

In [12]:
units=int(input('Enter units consumed '))
rate=int(input('Rate per unit '))
bill=units*rate
print(f'Units : {units}')
print(f'Rate : {rate}')
print(f'Bill : Rs. {bill}')

Enter units consumed 200
Rate per unit 25
Units : 200
Rate : 25
Bill : Rs. 5000